@import "fonts.scss";
@import "mixins.scss";

/*--------Variables--------*/

$primary-500: #DA5462;
$black: #1D1D1D;
$title-fonts: 'Canela Text Trial Bold', serif;
$h4-fonts: 'Canela Text Trial Medium', serif;
$p-fonts: 'Canela Text Trial Regular', serif;
$a-fonts: 'Canela Deck Trial Medium', serif;

/*-------------------------*/


body {
  margin: 0;
  padding: 0;
  h1 {
    font-size: 8em;
    font-family: $title-fonts;
    color: $primary-500;
    margin: 20px 0 20px 0;
  }

  h2 {
    font-size: 5em;
    font-family: $title-fonts;
    color: $primary-500;
    margin: 20px 0 20px 0;
  }

  h3 {
    font-size: 3.4em;
    font-family: $title-fonts;
    color: $primary-500;
  }

  h4 {
    font-size: 2.4em;
    font-family: $h4-fonts;
    margin: 20px 0 20px 0;
  }

  p {
    font-size: 2.4em;
    font-family: $p-fonts;
    margin: 20px 0 20px 0;
    color: $black;
  }

  .text-link {
    font-size: 2.4em;
    font-family: $a-fonts;
    margin: 20px 0 20px 0;
    color: $black;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .grey-btn {
    color: $black;
    font-family: $a-fonts;
    text-decoration: none;
    font-size: 2.4em;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    transition: background-color ease-in-out 150ms;
    transition: transform ease-in-out 100ms;
    &:hover {
      background-color: #EFEFEF;
    }
    &:active {
      transform: scale(90%);
    }
  }

  .text-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: $primary-500;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  .text-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  header {
    @include d-flex-end;
    padding: 75px;
    align-items: center;
    #hamburger-menu {
      position: absolute;
      padding: 50px;
      height: 85vh;
      width: 70vw;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: #f6f6f6;
      #hamburger-menu-content {
        @include d-space-between;
        flex-direction: column;
        height: 100%;
        #title-separator {
          hr {
            height: 10px;
            background-color: $primary-500;
            width: 75%;
            margin: 0;
            border: none;
          }
        }
        #hamburger-menu-links {
          @include d-column;
          justify-content: space-between;
          height: 30%;
          a {
            width: fit-content;
            font-size: 4em;
          }
        }
        #language-switch-container {
          @include d-space-evenly;
        }
      }
    }
  }

  .container {
    padding: 50px;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    padding: 50px;
    #footer-link-container {
      @include d-space-around;
      align-items: center;
    }
    #social-container {
      @include d-center;
      align-items: center;
      flex-direction: column;
      #social-links-container {
        @include d-space-between;
        width: 25%;
        a {
          transition: fill 0.25s ease-in-out;
          &:hover {
            fill: $primary-500;
          }
        }
      }
    }
  }
}