@mixin d-space-around() {
  display: flex;
  justify-content: space-around;
}

@mixin d-center() {
  display: flex;
  justify-content: center;
}

@mixin d-space-between() {
  display: flex;
  justify-content: space-between;
}

@mixin d-space-evenly() {
  display: flex;
  justify-content: space-evenly;
}

@mixin d-flex-end() {
  display: flex;
  justify-content: flex-end;
}

@mixin d-column() {
  display: flex;
  flex-direction: column;
}